In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\lenovo\\Downloads\\Kids_Screen_Time.csv")
df.head(20)

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban
5,14,Female,4.88,Smartphone,True,0.44,Poor Sleep,Urban
6,17,Male,2.97,TV,False,0.48,NaN,Rural
7,10,Male,2.74,TV,True,0.54,NaN,Urban
8,14,Male,4.61,Laptop,True,0.36,"Poor Sleep, Anxiety",Rural
9,18,Male,3.24,Tablet,True,0.48,"Poor Sleep, Obesity Risk",Urban
10,18,Male,3.53,Tablet,True,0.44,Poor Sleep,Rural
11,15,Female,4.94,TV,True,0.36,Poor Sleep,Rural
12,12,Male,4.59,Smartphone,True,0.43,Poor Sleep,Urban
13,11,Male,6.08,TV,True,0.48,Eye Strain,Rural
14,15,Male,6.15,Smartphone,True,0.40,Poor Sleep,Urban
15,15,Female,3.69,Smartphone,True,0.34,Poor Sleep,Urban
16,10,Female,7.10,Smartphone,True,0.43,"Poor Sleep, Eye Strain",Rural
17,13,Female,6.98,Smartphone,True,0.48,Obesity Risk,Urban
18,12,Male,3.82,Smartphone,True,0.40,Anxiety,Urban
19,9,Female,0.00,TV,False,0.42,NaN,Urban

In [11]:
df['Health_Impacts'].unique()

array(['Poor Sleep, Eye Strain', 'Poor Sleep', nan, 'Poor Sleep, Anxiety',
       'Poor Sleep, Obesity Risk', 'Eye Strain', 'Obesity Risk',
       'Anxiety', 'Poor Sleep, Anxiety, Obesity Risk',
       'Eye Strain, Obesity Risk', 'Eye Strain, Anxiety, Obesity Risk',
       'Anxiety, Obesity Risk', 'Poor Sleep, Eye Strain, Obesity Risk',
       'Poor Sleep, Eye Strain, Anxiety',
       'Poor Sleep, Eye Strain, Anxiety, Obesity Risk',
       'Eye Strain, Anxiety'], dtype=object)

In [3]:
df.shape

(9712, 8)

In [4]:
df.columns

Index(['Age', 'Gender', 'Avg_Daily_Screen_Time_hr', 'Primary_Device',
       'Exceeded_Recommended_Limit', 'Educational_to_Recreational_Ratio',
       'Health_Impacts', 'Urban_or_Rural'],
      dtype='object')

In [6]:
child_df = df[['Age', 'Gender', 'Urban_or_Rural',
               'Avg_Daily_Screen_Time_hr',
               'Exceeded_Recommended_Limit',
               'Educational_to_Recreational_Ratio',
               'Primary_Device']].copy()

# Add synthetic Child_ID
child_df.insert(0, 'Child_ID', range(1, len(child_df) + 1))

In [7]:
child_df.head()

,Child_ID,Age,Gender,Urban_or_Rural,Avg_Daily_Screen_Time_hr,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Primary_Device
0,1,14,Male,Urban,3.99,True,0.42,Smartphone
1,2,11,Female,Urban,4.61,True,0.30,Laptop
2,3,18,Female,Urban,3.73,True,0.32,TV
3,4,15,Female,Urban,1.21,False,0.39,Laptop
4,5,12,Female,Urban,5.89,True,0.49,Smartphone

In [23]:
child_df.columns

Index(['Child_ID', 'Age', 'Gender', 'Urban_or_Rural',
       'Avg_Daily_Screen_Time_hr', 'Exceeded_Recommended_Limit',
       'Educational_to_Recreational_Ratio', 'Primary_Device'],
      dtype='object')

In [8]:
# Split multiple impacts
impact_series = df['Health_Impacts'].dropna().str.split(',').explode().str.strip()

# Drop duplicates and create Impact table
impact_df = impact_series.drop_duplicates().reset_index(drop=True).to_frame(name='impact_name')
impact_df['impact_ID'] = impact_df.index + 1

In [9]:
impact_df.head()

    impact_name  impact_ID
0    Poor Sleep          1
1    Eye Strain          2
2       Anxiety          3
3  Obesity Risk          4

In [12]:
# Map Child_ID to each Health_Impact
child_ids = child_df[['Child_ID']].copy()
child_ids['Health_Impacts'] = df['Health_Impacts']

# Explode impacts
exploded = child_ids.dropna().copy()
exploded = exploded.assign(impact_name=exploded['Health_Impacts'].str.split(',')).explode('impact_name')
exploded['impact_name'] = exploded['impact_name'].str.strip()

# Merge with impact_df to get impact_ID
health_status_impact_df = exploded.merge(impact_df, on='impact_name')[['Child_ID', 'impact_ID']]

In [15]:
health_status_impact_df.head(5)

   Child_ID  impact_ID
0         1          1
1         1          2
2         2          1
3         3          1
4         5          1

In [20]:
child_df = pd.read_csv(r'C:\Users\lenovo\Downloads\kids_screens_csv_file\child.csv')
impact_df = pd.read_csv(r'C:\Users\lenovo\Downloads\kids_screens_csv_file\impact.csv')
health_status_impact_df = pd.read_csv(r'C:\Users\lenovo\Downloads\kids_screens_csv_file\health_status_impact.csv')

In [21]:
from sqlalchemy import create_engine
import urllib.parse

# Encode password
encoded_password = urllib.parse.quote_plus('Vivarsh@123')

# Create connection engine
engine = create_engine(f"mysql+pymysql://root:{encoded_password}@localhost:3306/kids_screentime")

In [22]:
child_df.to_sql("Child", con=engine, if_exists='append', index=False)
impact_df.to_sql("Impact", con=engine, if_exists='append', index=False)
health_status_impact_df.to_sql("Health_Status_Impact", con=engine, if_exists='append', index=False)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_30080\3749417379.py:1: UserWarning: The provided table name 'Child' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  child_df.to_sql("Child", con=engine, if_exists='append', index=False)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_30080\3749417379.py:2: UserWarning: The provided table name 'Impact' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  impact_df.to_sql("Impact", con=engine, if_exists='append', index=False)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_30080\3749417379.py:3: UserWarning: The provided table name 'Health_Status_Impact' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  health_status_impact_df.to_sql("Health_Status_Impact", con=engine, if_exists='append', index=False)

10072